<div class="loader" *ngIf="isLoading">
  <div class="spinner"></div>
</div>
<div class="container py-5">
  <!-- For Demo Purpose-->
  <header class="text-center mb-5">
    <h1 class="display-4 font-weight-bold">EIM Products</h1>
    <p class="font-italic text-muted mb-0">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia, saepe!
    </p>
  </header>

  <!-- First Row [Prosucts]-->
  <h2 class="font-weight-bold mb-2">
    From the Shop<span
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#addModal"
      (click)="form()"
    >
      ADD
    </span>
  </h2>
  <p class="font-italic text-muted mb-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt.
  </p>

  <div class="row pb-5 mb-4">
    <div
      class="col-lg-3 col-md-6 mb-4 mt-4 mb-lg-0"
      *ngFor="let product of products"
    >
      <!-- Card-->
      <div class="card rounded shadow-sm border-0">
        <div class="dropdown">
          <i class="fal fa-ellipsis-v" data-toggle="dropdown"></i>
          <div class="dropdown-menu">
            <a
              class="dropdown-item"
              title="Edit"
              (click)="openModal('update', product)"
              data-toggle="modal"
              data-target="#addModal"
            >
              <span>Edit</span>
            </a>

            <a
              class="dropdown-item delete-h"
              title="Delete"
              (click)="openModal('delete', product)"
            >
              <span>Remove</span>
            </a>
          </div>
        </div>
        <div class="card-body p-4">
          <img
            [src]="product.prodImage"
            alt=""
            class="img-fluid d-block mx-auto mb-3"
          />
          <h5>
            <a href="#" class="text-dark">{{ product.prodName | titlecase }}</a>
          </h5>
          <h3>
            {{ product.prodPrice | currency: "INR":"symbol":"1.0-0" }}
          </h3>
          <p class="small text-muted font-italic">
            {{ product.prodDes }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!products.length" class="text-center">
    <h4>No Products Available</h4>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ Isupdating ? "Edit" : "Add" }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="prodName">Product Name</label>
            <input
              type="text"
              class="form-control"
              id="prodName"
              formControlName="prodName"
              placeholder="Enter Product Name"
            />
            <div
              style="color: red"
              *ngIf="
                !productForm.controls.prodName?.valid &&
                (productForm.controls.prodName?.dirty ||
                  productForm.controls.prodName?.touched)
              "
            >
              * Please Enter Product Name.
            </div>
          </div>
          <div class="form-group">
            <label for="prodPrice">Product Price</label>
            <input
              type="number"
              class="form-control"
              id="prodPrice"
              placeholder="Enter Product Price"
              formControlName="prodPrice"
              min="0"
            />
            <div
              style="color: red"
              *ngIf="
                !productForm.controls.prodPrice?.valid &&
                (productForm.controls.prodPrice?.dirty ||
                  productForm.controls.prodPrice?.touched)
              "
            >
              * Please Enter Product Price.
            </div>
          </div>
          <div class="form-group">
            <label for="prodDes">Product Description</label>
            <textarea
              class="form-control"
              id="prodDes"
              placeholder="Enter Product Description"
              formControlName="prodDes"
            ></textarea>
            <div
              style="color: red"
              *ngIf="
                !productForm.controls.prodDes?.valid &&
                (productForm.controls.prodDes?.dirty ||
                  productForm.controls.prodDes?.touched)
              "
            >
              * Please Enter Product Description.
            </div>
          </div>
          <div class="form-group">
            <label for="prodImage">Product Image</label>
            <input
              type="file"
              class="form-control-file"
              id="prodImage"
              (change)="getBase64($event)"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onSubmit()"
          [disabled]="productForm.invalid || preventBtn"
        >
          Done
        </button>
      </div>
    </div>
  </div>
</div>
